﻿
@model Iship.Models.Account.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<style>
    #loginbtn, #registerbtn {
        display: none;
    }

    #bigtitle {
        margin-bottom: 0;
    }
</style>

<div id="resetdiv" class="regdiv ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <div class="content loginmsg">
                Reset your password
            </div>
        </h2>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "ui large form", id = "resetpasswordfrm" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Code)
            <div class="ui segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        @Html.TextBoxFor(x => x.Email, new { placeholder = "E-mail address", Name = "email" })
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        @Html.PasswordFor(x => x.Password, new { placeholder = "Enter new password", Name = "password" })
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <i class="lock icon"></i>
                        @Html.PasswordFor(x => x.ConfirmPassword, new { placeholder = "Confirm new password", Name = "confirmpassword" })
                    </div>
                </div>
                <div class="ui fluid large teal submit button">Reset</div>
            </div>

            <div class="ui success message">
                <div class="header">Password successfully changed</div>
            </div>
            <div class="ui error message">
                <div class="header">Invalid details entered</div>
            </div>
        }
    </div>
</div>
