﻿
@model Iship.Models.Community
    
<h2>Add new community</h2>
<div class="ui segment max600">
    @using (Html.BeginForm("CreateCommunity", "Community", FormMethod.Post, new {@class = "ui update form"}))
    {
        <div class="ui info message nomargintop">
            <i class="info icon"></i>
            Please fill in as much information as available
        </div>
        <div class="field">
            <label>Community Name</label>
            <div class="ui left icon input">
                <i class="home icon"></i>
                @Html.TextBoxFor(x => x.CommunityName, new {placeholder = "Enter community name", Name = "communityname"})
            </div>
        </div>
        <div class="field">
            <label>Description</label>
            <div class="ui left icon input">
                @Html.TextAreaFor(x => x.CommunityDesc, new {placeholder = "Give a brief description of this community", Name = "communitydesc"})
            </div>
        </div>
        <div class="field">
            <label>Location</label>
            <span>
                <select class="ui search selection dropdown states">
                    <option value="">Select State</option>
                    @foreach (var state in Model.States)
                    {
                        <option value="@state.GaId">@state.GaName</option>
                    }
                </select>
            </span>
            <div class="makeinline">
                <div class="lgas ui search selection dropdown width270">
                    <input name="FkGeoarea" type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select LGA</div>
                    <div class="menu">
                        @foreach (var lga in Model.Lgas)
                        {
                            <div class="item" data-state="@lga.FkParentId" data-value="@lga.GaId">@lga.GaName</div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="ui green submit button">Save</div>
        
        <div class="ui success message">
            <div class="header">Community created successfully</div>
        </div>
        <div class="ui error message">
            <div class="header">Could not create community</div>
        </div>
    }

</div>