﻿
@model Iship.Models.ApplicationUser

<h2>Add new operator</h2>
<div class="ui segment max600">
    @using (Html.BeginForm("CreateOperator", "Community", FormMethod.Post, new { @class = "ui update form" }))
    {
        <div class="field">
            <label>Email Address</label>
            <div class="ui left icon input">
                <i class="mail outline icon"></i>
                @Html.TextBoxFor(x => x.Email, new {placeholder = "Enter operator email address", Name = "email"})
            </div>
        </div>
        <div class="field">
            <label>Firstname</label>
            <div class="ui left icon input">
                <i class="user icon"></i>
                @Html.TextBoxFor(x => x.FirstName, new { placeholder = "Enter operator's firstname", Name = "firstname" })
            </div>
        </div>
        <div class="field">
            <label>Surname</label>
            <div class="ui left icon input">
                <i class="user icon"></i>
                @Html.TextBoxFor(x => x.Surname, new {placeholder = "Enter operator's surname", Name = "surname"})
            </div>
        </div>
        <div class="field">
            <label>Gender</label>
            <span>
                <select id="Gender" name="gender" class="ui dropdown">
                    <option value="">Select Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </span>
        </div>
        <div class="field">
            <label>Phone Number</label>
            <div class="ui left icon input">
                <i class="mobile large icon"></i>
                @Html.TextBoxFor(x => x.PhoneNumber, new { placeholder = "Enter operator's mobile number", Name = "phonenumber" })
            </div>
        </div>

        <div class="field spacetop">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="IsAdmin" />
                <label>Is Administrator</label>
            </div>
        </div>

        <div class="ui green submit button">Create Operator</div>

        <div class="ui success message">
            <div class="header">An email has been sent to the Operator to complete the registration process</div>
        </div>
        <div class="ui error message">
            <div class="header">Could not create operator</div>
        </div>
    }

</div>

