﻿
@using X.PagedList.Mvc
@model Iship.Models.CommunityWrap

@Html.Hidden("PageNumber", Model.Page.PageNumber)
@if (Model.IsPrint)
{
    <h3 class="totalrows floatleft">@Model.Title</h3>
    <span class="floatclear"></span>
}
<table id="kpiTable" class="ui table striped searchable">
    <thead>
    <tr>
        <th class="orderby @(Model.OrderBy == "Name" ? Model.Order : "")" data-orderby="Name">Name</th>
        <th class="orderby @(Model.OrderBy == "State" ? Model.Order : "")" data-orderby="State">State</th>
        <th class="orderby @(Model.OrderBy == "Lga" ? Model.Order : "")" data-orderby="Lga">LGA</th>
        <th class="orderby @(Model.OrderBy == "DateRegistered" ? Model.Order : "")" data-orderby="DateRegistered">Date Registered</th>
        <th class="actions"></th>
    </tr>
    <tbody>

    @foreach (var community in Model.Communities)
    {
        <tr>
            <td>@community.CommunityName</td>
            <td>@community.CommunityState</td>
            <td>@community.CommunityLga</td>
            <td>@community.SysRegDate.ToString("dd/MM/yyyy")</td>

            <td class="actions">
                <span data-tooltip="View Members" data-position="top left">
                    <i data-section="Community" data-subsection="Members" data-option="ViewMembers?id=@(community.CommunityId)" class="viewcommunity circular inverted users icon darkgreen"></i>
                </span>
                @if (((System.Security.Claims.ClaimsIdentity) User.Identity).HasClaim("Community", "EditCommunity"))
                {
                    <span data-tooltip="Edit" data-position="top left">
                        <i class="edititem write icon" data-id="@(community.CommunityId)"></i>
                    </span>
                }
            </td>
        </tr>
    }

    </tbody>
    <tfoot>
    <tr>
        @if (Model.Communities.Count == 0)
        {
            <th colspan="5">
                <div class="nomsg">No results matching search</div>
            </th>
        }
        else
        {
            <th colspan="5">
                <div class="ui left floated">
                    @Html.PagedListPager(Model.Page, page => Url.Action("GetSearchPage", new {page}), PagedListRenderOptions.ClassicPlusFirstAndLast)
                </div>
                <div class="ui floatright editfloat">
                    <select id="NumberPerPage" class="ui dropdown numberperpage">
                        <option  @(Model.NumberPerPage == 10 ? "selected" : "") value="10">10 per page</option>
                        <option  @(Model.NumberPerPage == 25 ? "selected" : "") value="25">25 per page</option>
                        <option  @(Model.NumberPerPage == 50 ? "selected" : "") value="50">50 per page</option>
                        <option  @(Model.NumberPerPage == 100 ? "selected" : "") value="100">100 per page</option>
                    </select>
                </div>
                <div class="clear"></div>
            </th>
        }
    </tr>
    </tfoot>
</table>
<div class="noneleft dontshow">No communities matching your search</div>
