﻿@model Iship.Models.CommunityWrap

<div class="">
    <div class="searchaudit ui toggle checkbox">
        <input type="checkbox" name="public">
        <label>Narrow my search</label>
    </div>
    <div class="dontshow auditsearch">
    @using (Html.BeginForm("SearchCommunity", "Community", FormMethod.Post, new {@class = "ui filterform form"}))
    {
        @Html.Hidden("perpage")
        @Html.Hidden("orderby")
        @Html.Hidden("reverse")
        <div class="ui segment grid inlineblock">
            <div class="column wider">
                <table class="ui definition table">
                    <tbody>
                    <tr>
                        <td class="four wide column">Search by Name</td>
                        <td class="clearable">
                            <div class="ui input fluid">
                                @Html.TextBoxFor(x => x.SearchName, new {placeholder = "Enter all or part of community name"})
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="four wide column">Search by State</td>
                        <td class="clearable">
                            <select name="SearchState" class="ui search dropdown fluid states">
                                <option value="">Select a state</option>
                                @foreach (var state in Model.States)
                                {
                                    <option value="@state.GaId">@state.GaName</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="four wide column">Search by LGA</td>
                        <td class="clearable">
                            <div class="lgas ui search selection dropdown fluid">
                                <input name="SearchLga" type="hidden">
                                <i class="dropdown icon"></i>
                                <div class="default text">Select LGA</div>
                                <div class="menu">
                                    @foreach (var lga in Model.Lgas)
                                    {
                                        <div class="item" data-state="@lga.FkParentId" data-value="@lga.GaId">@lga.GaName</div>
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Date Registered</td>
                        <td class="clearable">
                            <div class="ui form">
                                <div class="two fields">
                                    <div class="field">
                                        <label>Start date</label>
                                        <div class="ui calendar" id="rangestart">
                                            <div class="ui input left icon">
                                                <i class="calendar icon"></i>
                                                @Html.TextBoxFor(x => x.SearchStartDate, new {placeholder = "From", Name = "SearchStartDate"})
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label>End date</label>
                                        <div class="ui calendar" id="rangeend">
                                            <div class="ui input left icon">
                                                <i class="calendar icon"></i>
                                                @Html.TextBoxFor(x => x.SearchEndDate, new {placeholder = "To", Name = "SearchEndDate"})
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="clearsearch ui button grey floatleft">Clear</div>
                            <div class="searchbutton ui green labeled icon submit button floatright"><i class="search icon"></i>Search
                            </div>
                            <div class="floatclear"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
    </div>
    <div class="ui hidden divider"></div>
    <h3 class="totalrows floatleft">@Model.Title</h3>
    <div class="ui labeled icon button green floatright printbutton">
        <i class="print icon"></i>Print
    </div>
    <div class="ui labeled icon button green floatright printbutton printpage">
        <i class="print icon"></i>Print Page
    </div>
    <span class="floatclear"></span>
    <div id="auditSearchResults">
        @Html.Partial("_Communities")
    </div>
</div>