﻿
@model Iship.Models.Community
<div class="header">Edit Community</div>
@using (Html.BeginForm("EditCommunity", "Community", FormMethod.Post, new { id = "editCommunityForm", @class = "ui update form" }))
{
    @Html.HiddenFor(x => x.CommunityId)
    <div class="padded">
        <div class="field">
            <label>Community Name</label>
            <div class="ui left icon input">
                <i class="home icon"></i>
                @Html.TextBoxFor(x => x.CommunityName, new {placeholder = "Enter community name", Name = "communityname"})
            </div>
        </div>
        <div class="field">
            <label>Description</label>
            <div class="ui left icon input">
                @Html.TextAreaFor(x => x.CommunityDesc, new {placeholder = "Give a brief description of this community", Name = "communitydesc"})
            </div>
        </div>
        <div class="field">
            <label>Location</label>
            <span>
                <select class="ui search selection dropdown states">
                    <option value="">Select State</option>
                    @foreach (var state in Model.States)
                    {
                        <option @(state.GaId == Model.StateId ? "selected" : "") value="@state.GaId">@state.GaName</option>
                    }
                </select>
            </span>
            <div class="makeinline">
                <div class="lgas ui search selection dropdown width270">
                    <input name="FkGeoarea" value="@Model.FkGeoarea" type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select LGA</div>
                    <div class="menu">
                        @foreach (var lga in Model.Lgas)
                        {
                            <div class="item" data-state="@lga.FkParentId" data-value="@lga.GaId">@lga.GaName</div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="floatclear"></div>

        <div class="field spacetop">
            <div class="ui toggle checkbox">
                @Html.CheckBoxFor(x => x.Deactivated)
                <label>Deactivate Community</label>
            </div>
        </div>
        
        <div class="dontshow">
            <div class="ui submit button">Save</div>
        </div>

        <div class="ui success message">
            <div class="header">Community edited successfully</div>
        </div>
        <div class="ui error message">
            <div class="header">Could not create community</div>
        </div>
    </div>
}
<div class="actions">
    <div class="ui green left floated button" onclick="submitForm('editCommunityForm')">Save</div>
    <div class="ui black right floated deny button">Close</div>
    <div class="floatclear"></div>
</div>