﻿@using X.PagedList.Mvc
@model Iship.Models.MemberWrap

@Html.Hidden("PageNumber", Model.Page.PageNumber)
@if (Model.IsPrint)
{
    <h3 class="totalrows floatleft">@Model.Title</h3>
    <span class="floatclear"></span>
}

<table id="kpiTable" class="ui table striped searchable">
    <thead>
    <tr>
        <th class="orderby @(Model.OrderBy == "Firstname" ? Model.Order : "")" data-orderby="Firstname">Firstname</th>
        <th class="orderby @(Model.OrderBy == "Surname" ? Model.Order : "")" data-orderby="Surname">Surname</th>
        <th class="">Date Of Birth</th>
        <th class="orderby @(Model.OrderBy == "Gender" ? Model.Order : "")" data-orderby="Gender">Gender</th>
        @*<th class="orderby @(Model.OrderBy == "Status" ? Model.Order : "")" data-orderby="Status">Status</th>*@
        <th class="orderby @(Model.OrderBy == "Community" ? Model.Order : "")" data-orderby="Community">Community</th>
        <th class="orderby @(Model.OrderBy == "State" ? Model.Order : "")" data-orderby="State">State</th>
    </tr>
    <tbody>

    @foreach (var member in Model.Members)
    {
        <tr>
            <td>@member.FirstName</td>
            <td>@member.Surname</td>
            <td>@member.DateOfBirth.ToString("dd/MM/yyyy")</td>
            <td>@member.Gender</td>
            @*<td>@member.Status</td>*@
            <td>@member.CommunityName</td>
            <td>@member.State</td>
        </tr>
    }

    </tbody>
    <tfoot>
    <tr>
        @if (Model.Members.Count == 0)
        {
            <th colspan="7">
                <div class="nomsg">No results matching search</div>
            </th>
        }
        else
        {
            <th colspan="7">
                <div class="ui left floated">
                    @Html.PagedListPager(Model.Page, page => Url.Action("GetMembersSearchPage", new {page}), PagedListRenderOptions.ClassicPlusFirstAndLast)
                </div>
                <div class="ui floatright editfloat">
                    <select id="NumberPerPage" class="ui dropdown numberperpage">
                        <option  @(Model.NumberPerPage == 10 ? "selected" : "") value="10">10 per page</option>
                        <option  @(Model.NumberPerPage == 25 ? "selected" : "") value="25">25 per page</option>
                        <option  @(Model.NumberPerPage == 50 ? "selected" : "") value="50">50 per page</option>
                        <option  @(Model.NumberPerPage == 100 ? "selected" : "") value="100">100 per page</option>
                    </select>
                </div>
                <div class="clear"></div>
            </th>
        }
    </tr>
    </tfoot>
</table>
<div class="noneleft dontshow">No members found matching your search</div>

