﻿@model Iship.Models.MemberWrap

<div class="ui segment">
    <div class="searchaudit ui toggle checkbox">
        <input type="checkbox" name="public">
        <label>Narrow my search</label>
    </div>
    <div class="dontshow auditsearch">
        @using (Html.BeginForm("SearchMember", "Community", FormMethod.Post, new { @class = "ui filterform form" }))
        {
            @Html.Hidden("perpage")
            @Html.Hidden("orderby")
            @Html.Hidden("reverse")
            <div class="ui segment grid inlineblock width600">
                <div class="column wider">
                    <table class="ui definition table">
                        <tbody>
                        <tr>
                            <td class="five wide column">Search by Firstname</td>
                            <td class="clearable">
                                <div class="ui input fluid">
                                    @Html.TextBoxFor(x => x.Firstname, new { placeholder = "Enter all or part of firstname" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="five wide column">Search by Surname</td>
                            <td class="clearable">
                                <div class="ui input fluid">
                                    @Html.TextBoxFor(x => x.Surname, new { placeholder = "Enter all or part of surname" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="five wide column">Search by Gender</td>
                            <td class="clearable">
                                <select name="searchGender" class="ui search dropdown fluid genderlist">
                                    <option value="">Select a gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="five wide column">Search by Community</td>
                            <td class="clearable">
                                <select name="searchCommunity" class="ui search dropdown fluid communitylist">
                                    <option value="">Select by Community</option>
                                    @foreach (var state in Model.Communities)
                                    {
                                        <option @(Model.SearchCommunity == state.CommunityId.ToString() ? "selected" : "") value="@state.CommunityId">@state.CommunityName</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="five wide column">Search by State</td>
                            <td class="clearable">
                                <select name="SearchState" class="ui search dropdown fluid states">
                                    <option value="">Select a state</option>
                                    @foreach (var state in Model.States)
                                    {
                                        <option @(Model.SearchState == state.GaId.ToString() ? "selected" : "") value="@state.GaId">@state.GaName</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="five wide column">Search by LGA</td>
                            <td class="clearable">
                                <div class="lgas ui search selection dropdown fluid">
                                    <input name="SearchLga" type="hidden">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Select LGA</div>
                                    <div class="menu">
                                        @foreach (var lga in Model.Lgas)
                                        {
                                            <div @(Model.SearchLga == lga.GaId.ToString() ? "selected" : "") class="item" data-state="@lga.FkParentId" data-value="@lga.GaId">@lga.GaName</div>
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Search by Reg Date</td>
                            <td class="clearable">
                                <div class="ui form">
                                    <div class="two fields nolabel">
                                        <div class="field">
                                            <div class="ui calendar" id="rangestart">
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    @Html.TextBoxFor(x => x.SearchStartDate, new
                                                       {
                                                           placeholder = "From",
                                                           Value = string.IsNullOrEmpty(Model.SearchStartDate) ? "" : DateTime.Parse(Model.SearchStartDate).ToString("dd/MMM/yyyy"),
                                                           Name = "SearchStartDate"
                                                       })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui calendar" id="rangeend">
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    @Html.TextBoxFor(x => x.SearchEndDate, new
                                                    {
                                                        placeholder = "To",
                                                        Value = string.IsNullOrEmpty(Model.SearchStartDate) ? "" : DateTime.Parse(Model.SearchStartDate).ToString("dd/MMM/yyyy"),
                                                        Name = "SearchEndDate"
                                                    })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="clearsearch ui button grey floatleft">Clear</div>
                                <div class="searchbutton ui green labeled icon submit button floatright">
                                    <i class="search icon"></i>Search
                                </div>
                                <div class="floatclear"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>

    <div class="ui hidden divider"></div>
    <h3 class="totalrows floatleft">@Model.Title</h3>
    <div class="ui labeled icon button green floatright printbutton">
        <i class="print icon"></i>Print
    </div>
    <div class="ui labeled icon button green floatright printbutton printpage">
        <i class="print icon"></i>Print Page
    </div>
    <span class="floatclear"></span>
    <div id="auditSearchResults">
        @Html.Partial("_Members")
    </div>
</div>