﻿@model Iship.Models.Dashboard

<div class="searchdiv ui segment max450 dontshow">
    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "ui search form" }))
    { 
        <div class="ui ignored info message">
            <i class="info icon"></i>
            Fill at least one field
        </div>
 
        <div class="field">
            <div class="ui left icon input">
                <i class="search icon"></i>
                @Html.TextBoxFor(x => x.NhisNumber, new { placeholder = "Enter NHIS Number", Name = "formno", @class = "formno", @Value = "" })
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <i class="search icon"></i>
                @Html.TextBoxFor(x => x.ReferenceNumber, new { placeholder = "Enter reference number", Name = "docno" })
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <i class="search icon"></i>
                @Html.TextBoxFor(x => x.Firstname, new { placeholder = "Enter a firstname", Name = "firstname" })
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <i class="search icon"></i>
                @Html.TextBoxFor(x => x.Surname, new { placeholder = "Enter a Surname", Name = "surname" })
            </div>
        </div>

        <div class="ui green submit button">Search</div>
        <div class="ui error message">
            <div class="header">Invalid search details</div>
        </div>
    }
</div>

<div class="ui grid dashboardgrid">
    @foreach (var kpiwrap in Model.Kpis)
    {
        <div class="eight wide column">
            <div class="ui segment">
                <table id="kpiTable" class="ui striped table">
                    <thead>
                    <tr><th colspan="4">
                            @kpiwrap.Title
                        </th>
                    </tr>
                    <tbody>

                    @foreach (var kpi in kpiwrap.Kpis)
                    {
                        <tr class="">
                            <td>@kpi.Name</td>
                            <td class="bigtext">@kpi.Value1</td>
                            <td class="right aligned">
                                @if (!string.IsNullOrEmpty(kpi.ViewUrl))
                                {
                                    <a @(kpiwrap.DisableView ? "" : kpi.ViewUrl)>
                                        <i class="large browser icon @(kpiwrap.DisableView ? "disabled" : "") viewinfo"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>

        if (Model.Alerts.Any(x => x.SectionId == kpiwrap.SectionId))
        {

            foreach (var alertwrap in Model.Alerts)
            {
                 <div class="eight wide column">
                     <div class="ui segment">
                         <table id="kpiTable" class="ui striped table">
                             <thead>
                             <tr><th colspan="4">
                                     @alertwrap.Title
                                 </th>
                             </tr>
                             <tbody>

                             @foreach (var kpi in alertwrap.Kpis)
                             {
                                 <tr class="">
                                     <td>@kpi.Name</td>
                                     <td class="bigtext">@kpi.Value1</td>
                                     <td class="right aligned">
                                     @if (!string.IsNullOrEmpty(kpi.ViewUrl))
                                     {
                                         <div>
                                             <i class="large browser icon @(kpiwrap.DisableView ? "disabled" : "")  viewinfo" data-url="@kpi.ViewUrl"></i>
                                         </div>
                                     }
                                     </td>
                                 </tr>
                             }
                             </tbody>
                         </table>
                     </div>
                 </div>
             }
        }

        if (Model.Graphs.Any(x => x.SectionId == kpiwrap.SectionId))
        {
            foreach (var graph in Model.Graphs)
            {
                <div class="eight wide column">
                    <div class="card card-chart">
                        <div class="card-header" data-graphname="@graph.Name" data-high="high" data-labels="@Html.Raw(graph.Labels)" data-series="@Html.Raw(graph.Series)" 
                             data-background-color="@graph.Color" data-header-animation="true" data-xaxis="@graph.XAxis" data-yaxis="@graph.YAxis">
                            <div class="ct-chart" id="@graph.Name"></div>
                        </div>
                        <div class="card-content">
                            <div class="card-actions">
                                <div type="button" class="ui button teal fix-broken-card">
                                    <i class="home icon"></i> Fix Header!
                                </div>
                                <div type="button" class="ui button teal" rel="tooltip" data-placement="bottom" title="Refresh">
                                    <i class="refresh icon"></i>
                                </div>
                                <div type="button" class="ui button teal" rel="tooltip" data-placement="bottom" title="Change Date">
                                    <i class="edit icon"></i>
                                </div>
                            </div>
                            <h4 class="card-title">@graph.Title</h4>
                            @*<p class="category">@graph.Title2</p>*@
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="tags icon"></i> @graph.Section
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>