﻿
<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>NHIS - Iship</title>

    @Styles.Render("~/content/layout")
</head>
<body class="flexbox">
    <header>
        @if (!User.Identity.IsAuthenticated)
        {
            <div id="mainheader" class="ui inverted vertical masthead center aligned segment notprintable">
                <div class="ui container">
                    <div class="ui large secondary inverted pointing menu relative">
                        <a class="item logoimg absolute">
                            <img src="/Images/nhisLogo2.png" class="img-responsive"/>
                        </a>
                        <a id="bigtitle" class="item">National Health Insurance Scheme</a>
                        <div class="right item loginoptions">
                            <span>Iship Portal</span>
                            @*<a id="loginbtn" class="ui inverted button showlogin">Log in</a>*@
                            @*<a id="registerbtn" class="ui inverted button showreg">Sign Up</a>*@
                        </div>
                    </div>
                </div>
            </div>
        }
    </header>
<main id="main" class="flexbox-content relative">
    <div class="grandma"></div>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="ui large top fixed hidden menu notprintable">
            <div class="ui container">
                <a class="item">Iship</a>
                <div class="right menu loginoptions">
                    @*<div class="item">
                        <a class="ui button">Log in</a>
                    </div>*@
                    @*<div class="item">
                        <a class="ui primary button">Sign Up</a>
                    </div>*@
                </div>
            </div>
        </div>
    }
    <div id="sideMenu" class="notprintable">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.Partial("_SideMenu")
        }
    </div>

    <div id="renderBody">
        @RenderBody()
    </div>

    <div id="popupMsg" class="ui basic modal message">
        <div class="header">Header</div>
        <div class="content">
            <p></p>
        </div>
        <div class="actions">
            <div class="ui cancel button">Ok</div>
        </div>
    </div>

</main>
    
<div id="dashboardModal" class="ui modal"></div>
<div id="dashboardModalSmall" class="ui small modal"></div> 
    
<div id="printwindow"></div>

<footer class="footer">
    <div class="ui container">
        <div class="">© @DateTime.Today.Year Exaro Enterprise Solutions - All rights reserved</div>
    </div>
</footer>
    
    @Scripts.Render("~/bundles/layout")
    @RenderSection("scripts", false)
</body>

</html>
