﻿@model List<Iship.Models.ApplicationUser>

<h2>Manage Operators</h2>
<div class="ui raised segment">
    <table class="ui compact table noactive @(Model.Any(x => !x.LockoutEnabled) ? "dontshow" : "")">
        <tbody>
            <tr>
                <td class="noneleft">There are no active users</td>
            </tr>
        </tbody>
    </table>

    @if (Model.Any(x => !x.LockoutEnabled))
    {
        <table class="ui compact table @(Model.Any(x => !x.LockoutEnabled) ? "" : "dontshow")">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Registration Date</th>
                    <th>E-mail address</th>
                    <th>Phone Number</th>
                    <th>Type</th>
                    <th>Is Admin</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Where(x => !x.LockoutEnabled))
                {
                    <tr>
                        <td>@user.GetFullName()</td>
                        <td>@user.DateCreated.ToString("dd-MMM-yyyy") at @user.DateCreated.ToString("hh:mmtt").ToLower()</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.OperatorTypeName</td>
                        <td class="center aligned">
                            <div class="ui read-only checkbox adminCheckbox" data-url="@($"/{ViewBag.Section}/SetAdmin?id={user.Id}&status=")">
                                @Html.CheckBoxFor(x => x.Single(y => y.Id == user.Id).IsAdmin)
                            </div>
                        </td>
                        <td>
                            <div class="ui small red button action operatorstatus" data-lockout="1" data-id="@user.Id" data-url="/@ViewBag.Section/SetOperatorStatus">Disable</div>
                            <div class="ui small teal button modalaction" data-url="/@ViewBag.Section/GetUserPermissions?id=@user.Id">Edit access</div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <div class="disabledusers dontshow">
        <table class="ui compact table noinactive @(Model.Any(x => x.LockoutEnabled) ? "dontshow" : "")">
            <tbody>
                <tr>
                    <td class="noneleft">There are no deactivated users</td>
                </tr>
            </tbody>
        </table>

        @if (Model.Any(x => x.LockoutEnabled))
        {
            <h3 class="spactopsliding">Disabled Users</h3>

            <table class="ui compact table @(Model.Any(x => x.LockoutEnabled) ? "" : "dontshow")">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Registration Date</th>
                        <th>E-mail address</th>
                        <th>Phone Number</th>
                        <th>Is Admin</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Where(x => x.LockoutEnabled))
                    {
                        <tr>
                            <td>@user.GetFullName()</td>
                            <td>@user.DateCreated.ToString("dd-MMM-yyyy") at @user.DateCreated.ToString("hh:mmtt").ToLower()</td>
                            <td>@user.Email</td>
                            <td>@user.PhoneNumber</td>
                            <td>
                                <div class="ui read-only checkbox">
                                    @Html.CheckBoxFor(x => x.Single(y => y.Id == user.Id).IsAdmin)
                                </div>
                            </td>
                            <td>
                                <div class="ui small green button operatorstatus action" data-lockout="0" data-id="@user.Id" data-url="/@ViewBag.Section/SetOperatorStatus">Enable</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div id="editAccessModal" class="ui small privileges modal"></div>
</div>

<div id="manageDisabledUsers" class="ui toggle checkbox">
    <input type="checkbox" name="public">
    <label>View Disabled Users</label>
</div>

<div class="ui mini modal">
    <div class="header">Update Administrator Status</div>
    <div class="content">
        <p id="minimodalcontent">Are you sure you want make this operator an administrator?</p>
    </div>
    <div class="ui error message hidden">
        <div class="header">Update failed. Please try again later</div>
    </div>
    <div class="actions">
        <div class="ui negative right labeled icon button">
            No
            <i class="remove icon"></i>
        </div>
        <div class="ui positive right labeled icon button">
            Yes
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>