﻿@using Iship.Extensions
@model Iship.ViewModels.MenuModel

<div id="sideMenuSlide" class="ui vertical inverted sticky menu fixed top transition @(User.Identity.IsAuthenticated ? "" : "hidden")">
    <div class="bigtitle item">
        <img src="/Images/nhisLogo2.png" class="ui avatar image lil-logo" />
        <span class="menutitle">ISHIP Portal<span id="menuloader" class="ui inline loader"></span></span>
    </div>
    
    @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @class = "navbar-right", id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="item whiteborder">
            <h3 class="ui white">
                <i class="user circle outline icon"></i>
                <span id="myusername">@(Model.Username)</span>
                <span>
                    <a class="white floatright" data-tooltip="Sign Out" data-position="top right" href="/account/logout"><i class="sign out icon"></i></a>
                    <span class="clear"></span>
                </span>
            </h3>
        </div>
    }

    <a class="item title dashboard sidemenuitem active" data-section="Dashboard" data-option="GetDashboard"><i class="fas fa-chart-pie headericon"></i>Dashboard</a>
    
    @{
        var umclaims = Model.Claims.Where(x => x.Controller.ToLower() == "usermanagement").OrderByDescending(x => x.Action == "MyAccount").ToList();
        if (umclaims.Count == 1)
        {
            <a class="item title dashboard" data-section="UserManagement" data-option="MyAccount"><i class="fas fa-user headericon"></i>My Account</a>
        }
        else
        {
            <div id="umwrap" class="item accordionwrap">
                <div class="ui inverted accordion">
                    <div id="UserManagement" class="title">
                        <i class="fas fa-user headericondiv"></i>
                        User Management
                    </div>
                    <div class="content">
                        <div class="menu">
                            @foreach (var claim in umclaims)
                            {
                                <a class="item" data-section="UserManagement" data-option="@(claim.Action)">@(claim.Action.TitleCaseToWords())</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
       
    }

    @foreach (var section in Model.Sections)
    {
        if (section.SubSections.Any(x => x.Claims.Any()))
        {
            <div id="@(section.Name)section" class="item sectionheader @(section.Id == 1 ? "startersector" : "inactive")">
                <h3 class="ui white">
                    <i class="@(section.Icon) icon"></i>
                    <span>@(section.Name)</span>
                    <i class="chevron circle right icon floatright"></i>
                    <span class="clear"></span>
                </h3>
            </div>
            if (section.SubSections.Any())
            {
                <div class="item accordionwrap">
                    <div class="ui inverted accordion">
                        @foreach (var subsection in section.SubSections.Where(x => x.Claims.Any()).OrderBy(x => x.Name))
                        {
                            <div id="@(subsection.Name.Replace(" " , ""))subsection" class="title">
                                <i class="dropdown icon"></i>
                                @subsection.Name
                            </div>
                            <div class="content">
                                <div class="menu">
                                    @foreach (var item in subsection.Claims.Where(x => x.Visible).OrderBy(x => x.Action))
                                    {
                                        <a class="item sidemenuitem" data-sectiontitle="@(subsection.Name.Replace(" " , ""))subsection" data-section="@item.Controller" data-option="@(item.Action)">@(item.Action.TitleCaseToWords())</a>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    }
    
</div>