﻿@model Iship.ViewModels.TableResult

<div class="ui segment">
    <h3>@Model.Title</h3>
    <table class="ui table striped">
        <thead>
            <tr>
                @foreach (var header in Model.Headers)
                {
                    <th>
                        @header
                    </th>
                }
            </tr>
        <tbody>
            @foreach (var row in Model.Rows)
            {
                <tr>
                    @foreach (var value in row)
                {
                        <td>@value</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>