﻿@model Iship.Models.Account.RegistrationModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="ui container easy">...easy access to healthcare for all</div>

<div id="maincontainer" class="ui maincontainer text container">
    <div id="defaultdiv" class="regdiv ui text masthead container">
        <h1 class="ui inverted header">
            ISHIP Management Portal
        </h1>
        <div class="ui huge primary button showlogin">Get Started <i class="right arrow icon"></i></div>
    </div>

    <div id="logindiv" class="regdiv ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui blue image header">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-user-secret fa-stack-1x fa-inverse"></i>
                </span>
                <div class="content loginmsg">
                    Log-in to your account
                </div>
            </h2>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "ui large form", id = "loginfrm" }))
            {
                @Html.AntiForgeryToken()
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            @Html.TextBoxFor(x => x.LoginViewModel.Email, new { Name = "email", placeholder = "E-mail address" })
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            @Html.PasswordFor(x => x.LoginViewModel.Password, new { placeholder = "Password", value = Model.LoginViewModel.Password, Name = "password" })
                        </div>
                    </div>
                    <div class="ui fluid large blue submit button">Login</div>
                </div>

                <div class="ui success message">
                    <div class="header">Login Successful</div>
                    <p>Welcome</p>
                </div>
                <div class="ui error message">
                    <div class="header">Login Failed</div>
                    <p>Invalid username or password</p>
                </div>
            }
           
            <div class="ui forgotpw basic animated button" tabindex="0">
                <div class="visible content">Forgot your password?</div>
                <div class="green hidden content">
                    <span class="resetpw teal">Reset it</span>
                </div>
            </div>
        </div>
    </div>
    
    <div id="firsttimediv" class="regdiv ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui blue image header">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-user-secret fa-stack-1x fa-inverse"></i>
                </span>
                <div class="content loginmsg">
                    Change your password
                </div>
            </h2>
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "ui large form", id = "changepwfrm" }))
                {
                @Html.AntiForgeryToken()
                @Html.Hidden("FirstTimeId")
                <div class="ui message info text-left nomargintop">
                    <i class="ui circle icon info"></i> Set a new password
                </div>
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                @Html.PasswordFor(x => x.ChangePasswordViewModel.OldPassword, new { placeholder = "Temporary password sent to your email", Name = "OldPassword" })
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                @Html.PasswordFor(x => x.ChangePasswordViewModel.NewPassword, new { placeholder = "Enter a new password", Name = "NewPassword" })
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                @Html.PasswordFor(x => x.ChangePasswordViewModel.ConfirmPassword, new { placeholder = "Enter it again", Name = "ConfirmPassword" })
                            </div>
                        </div>
                        <div class="ui fluid large blue submit button">Save Password</div>
                    </div>

                    <div class="ui success message">
                        <div class="header">Password successfully changed</div>
                        <p>Welcome</p>
                    </div>
                    <div class="ui error message">
                        <div class="header">Save password failed</div>
                        <p>Could not save new password. Please try again</p>
                    </div>
            }

        </div>
    </div>
    <div id="forgotdiv" class="regdiv ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui blue image header">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <div class="content loginmsg">
                    Reset my password
                </div>
            </h2>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "ui form", id = "forgotfrm" }))
            {
                @Html.AntiForgeryToken()
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            @Html.TextBoxFor(x => x.ForgotPasswordViewModel.Email, new { placeholder = "E-mail address", Name = "email" })
                        </div>
                    </div>

                    <div class="ui fluid large blue submit button">Reset</div>
                </div>
                <div class="ui teal backtologin floatright button icon"><i class="left arrow icon"></i>Back</div>
                <div class="floatclear"></div>

                <div class="ui success message">
                    <div class="header">An email has been sent to your registered address with instructions to reset your password</div>
                </div>
                <div class="ui error message">
                    <div class="header">Could not process request. Please try again later</div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}