﻿
@model Iship.ViewModels.MenuModel
@Styles.Render("~/content/tools")
@{
    ViewData["Title"] = "Tools";
}
<div class="tools">
    <div id="workspace">
        @*@Html.Partial("_Dashboard", Model.Dashboard)*@
    </div>
</div>

@if (Request.IsAjaxRequest())
{
    @Scripts.Render("~/bundles/tools")
}
else
{
    @section Scripts{
        @Scripts.Render("~/bundles/tools")
    }
}
