﻿@model List<Iship.Models.ApplicationUser>

<div class="ui raised segment">
    <table class="ui compact celled table noactive @(Model.Any(x => !x.LockoutEnabled) ? "dontshow" : "")">
        <tbody>
            <tr>
                <td class="nomsg">There are no active users</td>
            </tr>
        </tbody>
    </table>

    @if (Model.Any(x => !x.LockoutEnabled))
    {
        <table class="ui compact celled table @(Model.Any(x => !x.LockoutEnabled) ? "" : "dontshow")">
            <thead>
            <tr>
                <th>Name</th>
                <th>Registration Date</th>
                <th>E-mail address</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model.Where(x => !x.LockoutEnabled))
            {
                <tr>
                    <td>@user.GetFullName()</td>
                    <td>@user.DateCreated.ToString("dd-MMM-yyyy") at @user.DateCreated.ToString("hh:mmtt").ToLower()</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>
                        <div class="ui small red button action" data-lockout="1" data-id="@user.Id" data-url="/usermanagement/SetUserLockout">Disable</div>
                        <div class="ui small teal button modalaction" data-id="@user.Id" data-url="/usermanagement/GetAccess">Edit access</div>
                    </td>
                </tr>
            }
            </tbody>
        </table>  
    }
    
    <div class="disabledusers dontshow">
        <table class="ui compact celled table noinactive @(Model.Any(x => x.LockoutEnabled) ? "dontshow" : "")">
            <tbody>
                <tr>
                    <td class="nomsg">There are no deactivated users</td>
                </tr>
            </tbody>
        </table>

        @if (Model.Any(x => x.LockoutEnabled))
        {
            <h3>Disabled Users</h3>
            
            <table class="ui compact celled definition table @(Model.Any(x => x.LockoutEnabled) ? "" : "dontshow")">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Registration Date</th>
                    <th>E-mail address</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var user in Model.Where(x => x.LockoutEnabled))
                {
                    <tr>
                        <td>@user.GetFullName()</td>
                        <td>@user.DateCreated.ToString("dd-MMM-yyyy") at @user.DateCreated.ToString("hh:mmtt").ToLower()</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>
                            <div class="ui small green button action" data-lockout="0" data-id="@user.Id" data-url="/usermanagement/SetUserLockout">Enable</div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>  
        }
    </div>
    <div id="editAccessModal" class="ui small modal"></div>
</div>

<div id="manageDisabledUsers" class="ui toggle teal checkbox">
    <input type="checkbox" name="public">
    <label>View Disabled Users</label>
</div>
