﻿@model List<Iship.Models.ApplicationUser>
    
<h3>Registered Users</h3>
<div id="manageOtherUsers">
    @Html.Partial("_ManageOtherUsers", Model)
</div>

@section scripts
{
  <script src="/scripts/UserManagement/manageOtherUsers.js"></script>   
}
