﻿/*!
 * # Semantic UI 0.0.1 - Calendar
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */

.ui.calendar .ui.popup {
    max-width: none;
    padding: 0;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ui.calendar .calendar:focus {
    outline: 0
}

.ui.calendar .ui.table.minute, .ui.calendar .ui.table.month, .ui.calendar .ui.table.year {
    min-width: 15em
}

.ui.calendar .ui.table.day {
    min-width: 18em
}

.ui.calendar .ui.table.hour {
    min-width: 20em
}

.ui.calendar .ui.table tr td, .ui.calendar .ui.table tr th {
    padding: .5em;
    white-space: nowrap
}

.ui.calendar .ui.table tr th {
    border-left: none
}

    .ui.calendar .ui.table tr th .icon {
        margin: 0
    }

.ui.calendar .ui.table tr:first-child th {
    position: relative;
    padding-left: 0;
    padding-right: 0
}

.ui.calendar .ui.table.day tr:first-child th {
    border: none
}

.ui.calendar .ui.table.day tr:nth-child(2) th {
    padding-top: .2em;
    padding-bottom: .3em
}

.ui.calendar .ui.table tr td {
    padding-left: .1em;
    padding-right: .1em
}

.ui.calendar .ui.table tr .link {
    cursor: pointer
}

.ui.calendar .ui.table tr .prev.link {
    width: 14.28571429%;
    position: absolute;
    left: 0
}

.ui.calendar .ui.table tr .next.link {
    width: 14.28571429%;
    position: absolute;
    right: 0
}

.ui.calendar .ui.table tr .disabled {
    pointer-events: none;
    color: rgba(40,40,40,.3)
}

.ui.calendar .ui.table tr td.today {
    font-weight: 700
}

.ui.calendar .ui.table tr td.range {
    background: rgba(0,0,0,.05);
    color: rgba(0,0,0,.95);
    box-shadow: none
}

.ui.calendar .ui.table.inverted tr td.range {
    background: rgba(255,255,255,.08);
    color: #fff;
    box-shadow: none
}

.ui.calendar .calendar.active .ui.table tbody tr td.focus, .ui.calendar .calendar.active .ui.table.inverted tbody tr td.focus, .ui.calendar .calendar:focus .ui.table tbody tr td.focus, .ui.calendar .calendar:focus .ui.table.inverted tbody tr td.focus {
    box-shadow: inset 0 0 0 1px #85B7D9
}
