﻿.searchbtn {
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 30px;
    margin: -10px 0px 10px 0px;
}

.searchbtn:hover {
    background-color: rgba(200, 200, 200, 0.2);
}

.searchbtn i.search.inverted.icon {
    background-color: #017d31 !important;
}

.dashboardgrid .column {
    max-width: 600px;
}

.ui.grid.dashboardgrid > .column:not(.row) {
    padding-bottom: 0 !important;
}

.bigtext {
    font-size: 18px;
}

.viewinfo {
    color: rgb(1, 125, 49)
}


.viewinfo:not(.disabled) {
    cursor: pointer;
}

.greenalert {
    background-color: #ecf3ec;
}

.pinkalert {
    background-color: #fdf6f8;
}

.redalert {
    background-color: #ffc7d1;
}

/* Chart stuff */

.ct-axis-title {
    fill: white;
}

.card-chart .card-header {
    padding: 0;
    min-height: 200px;
}

.card [data-background-color] {
    color: #FFFFFF;
}

.card [data-header-animation="true"] {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
}

.card [data-background-color] .ct-series-a .ct-line {
    stroke: rgba(255, 255, 255, 0.8);
}

.card [data-background-color] .ct-series-a .ct-point {
    stroke: rgba(255, 255, 255, 0.8);
}

.card [data-background-color] .ct-grid {
    stroke: rgba(255, 255, 255, 0.2);
}

.ct-grid {
    stroke: rgba(0, 0, 0, 0.2);
    stroke-width: 1px;
    stroke-dasharray: 2px;
}

.card [data-background-color="green"] {
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.card [data-background-color="blue"] {
    background: linear-gradient(60deg, #2196F3, #03A9F4);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(14, 64, 103, 0.4);
}


.card [data-background-color] {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #999999;
    position: relative;
}

.card .card-header {
    padding: 15px 20px 0;
    z-index: 3;
}

.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
}

.card .card-actions {
    position: absolute;
    z-index: 1;
    top: -50px;
    width: calc(100% - 30px);
    left: 17px;
    right: 17px;
    text-align: center;
}

.card .card-content {
    padding: 15px 20px 5px 20px;
    position: relative;
}

.card .card-content .category {
    margin-bottom: 0;
}

.card .category:not([class*="text-"]) {
    color: #999999;
    font-size: 14px;
}

.card .card-title {
    margin-top: 0;
    margin-bottom: 3px;
    color: #3C4858;
    text-decoration: none;
}

.card .card-footer {
    margin: 0 20px 10px;
    padding-top: 5px;
    border-top: 1px solid #eeeeee;
}

.card .card-footer .stats {
    line-height: 22px;
    color: #999999;
    font-size: 12px;
}

.card .card-footer div {
    display: inline-block;
}

.ct-chart-line .ct-label,
.ct-chart-bar .ct-label {
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.ct-chart-pie .ct-label,
.ct-chart-donut .ct-label {
    dominant-baseline: central;
}

.ct-label.ct-horizontal.ct-start {
    -webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    text-align: left;
    text-anchor: start;
}

.ct-label.ct-horizontal.ct-end {
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    text-align: left;
    text-anchor: start;
}

.ct-label.ct-vertical.ct-start {
    -webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    text-align: right;
    text-anchor: end;
}

.ct-label.ct-vertical.ct-end {
    -webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    text-align: left;
    text-anchor: start;
}

.ct-chart-bar .ct-label.ct-horizontal.ct-start {
    -webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    text-anchor: start;
}

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start {
    -webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    text-align: left;
    text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end {
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    text-align: left;
    text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    text-align: right;
    text-anchor: end;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-end {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    text-align: left;
    text-anchor: end;
}

.ct-grid {
    stroke: rgba(0, 0, 0, 0.2);
    stroke-width: 1px;
    stroke-dasharray: 2px;
}

.ct-grid-background {
    fill: none;
}

.ct-point {
    stroke-width: 10px;
    stroke-linecap: round;
}

.ct-line {
    fill: none;
    stroke-width: 4px;
}

.ct-area {
    stroke: none;
    fill-opacity: 0.1;
}

.ct-bar {
    fill: none;
    stroke-width: 10px;
}

.ct-slice-donut {
    fill: none;
    stroke-width: 60px;
}

.ct-series-a .ct-point,
.ct-series-a .ct-line,
.ct-series-a .ct-bar,
.ct-series-a .ct-slice-donut {
    stroke: #00bcd4;
}

.ct-series-a .ct-slice-pie,
.ct-series-a .ct-slice-donut-solid,
.ct-series-a .ct-area {
    fill: #00bcd4;
}

.ct-series-b .ct-point,
.ct-series-b .ct-line,
.ct-series-b .ct-bar,
.ct-series-b .ct-slice-donut {
    stroke: #f44336;
}

.ct-series-b .ct-slice-pie,
.ct-series-b .ct-slice-donut-solid,
.ct-series-b .ct-area {
    fill: #f44336;
}

.ct-series-c .ct-point,
.ct-series-c .ct-line,
.ct-series-c .ct-bar,
.ct-series-c .ct-slice-donut {
    stroke: #ff9800;
}

.ct-series-c .ct-slice-pie,
.ct-series-c .ct-slice-donut-solid,
.ct-series-c .ct-area {
    fill: #ff9800;
}

.ct-series-d .ct-point,
.ct-series-d .ct-line,
.ct-series-d .ct-bar,
.ct-series-d .ct-slice-donut {
    stroke: #9c27b0;
}

.ct-series-d .ct-slice-pie,
.ct-series-d .ct-slice-donut-solid,
.ct-series-d .ct-area {
    fill: #9c27b0;
}

.ct-series-e .ct-point,
.ct-series-e .ct-line,
.ct-series-e .ct-bar,
.ct-series-e .ct-slice-donut {
    stroke: #4caf50;
}

.ct-series-e .ct-slice-pie,
.ct-series-e .ct-slice-donut-solid,
.ct-series-e .ct-area {
    fill: #4caf50;
}

.ct-series-f .ct-point,
.ct-series-f .ct-line,
.ct-series-f .ct-bar,
.ct-series-f .ct-slice-donut {
    stroke: #9C9B99;
}

.ct-series-f .ct-slice-pie,
.ct-series-f .ct-slice-donut-solid,
.ct-series-f .ct-area {
    fill: #9C9B99;
}

.ct-series-g .ct-point,
.ct-series-g .ct-line,
.ct-series-g .ct-bar,
.ct-series-g .ct-slice-donut {
    stroke: #999999;
}

.ct-series-g .ct-slice-pie,
.ct-series-g .ct-slice-donut-solid,
.ct-series-g .ct-area {
    fill: #999999;
}

.ct-series-h .ct-point,
.ct-series-h .ct-line,
.ct-series-h .ct-bar,
.ct-series-h .ct-slice-donut {
    stroke: #dd4b39;
}

.ct-series-h .ct-slice-pie,
.ct-series-h .ct-slice-donut-solid,
.ct-series-h .ct-area {
    fill: #dd4b39;
}

.ct-series-i .ct-point,
.ct-series-i .ct-line,
.ct-series-i .ct-bar,
.ct-series-i .ct-slice-donut {
    stroke: #35465c;
}

.ct-series-i .ct-slice-pie,
.ct-series-i .ct-slice-donut-solid,
.ct-series-i .ct-area {
    fill: #35465c;
}

.ct-series-j .ct-point,
.ct-series-j .ct-line,
.ct-series-j .ct-bar,
.ct-series-j .ct-slice-donut {
    stroke: #e52d27;
}

.ct-series-j .ct-slice-pie,
.ct-series-j .ct-slice-donut-solid,
.ct-series-j .ct-area {
    fill: #e52d27;
}

.ct-series-k .ct-point,
.ct-series-k .ct-line,
.ct-series-k .ct-bar,
.ct-series-k .ct-slice-donut {
    stroke: #55acee;
}

.ct-series-k .ct-slice-pie,
.ct-series-k .ct-slice-donut-solid,
.ct-series-k .ct-area {
    fill: #55acee;
}

.ct-series-l .ct-point,
.ct-series-l .ct-line,
.ct-series-l .ct-bar,
.ct-series-l .ct-slice-donut {
    stroke: #cc2127;
}

.ct-series-l .ct-slice-pie,
.ct-series-l .ct-slice-donut-solid,
.ct-series-l .ct-area {
    fill: #cc2127;
}

.ct-series-m .ct-point,
.ct-series-m .ct-line,
.ct-series-m .ct-bar,
.ct-series-m .ct-slice-donut {
    stroke: #1769ff;
}

.ct-series-m .ct-slice-pie,
.ct-series-m .ct-slice-donut-solid,
.ct-series-m .ct-area {
    fill: #1769ff;
}

.ct-series-n .ct-point,
.ct-series-n .ct-line,
.ct-series-n .ct-bar,
.ct-series-n .ct-slice-donut {
    stroke: #6188e2;
}

.ct-series-n .ct-slice-pie,
.ct-series-n .ct-slice-donut-solid,
.ct-series-n .ct-area {
    fill: #6188e2;
}

.ct-series-o .ct-point,
.ct-series-o .ct-line,
.ct-series-o .ct-bar,
.ct-series-o .ct-slice-donut {
    stroke: #a748ca;
}

.ct-series-o .ct-slice-pie,
.ct-series-o .ct-slice-donut-solid,
.ct-series-o .ct-area {
    fill: #a748ca;
}

.ct-square {
    display: block;
    position: relative;
    width: 100%;
}

.ct-square:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 100%;
}

.ct-square:after {
    content: "";
    display: table;
    clear: both;
}

.ct-square > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.ct-minor-second {
    display: block;
    position: relative;
    width: 100%;
}

.ct-minor-second:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 93.75%;
}

.ct-minor-second:after {
    content: "";
    display: table;
    clear: both;
}

.ct-minor-second > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.ct-major-second {
    display: block;
    position: relative;
    width: 100%;
}

    .ct-major-second:before {
        display: block;
        float: left;
        content: "";
        width: 0;
        height: 0;
        padding-bottom: 88.8888888889%;
    }

    .ct-major-second:after {
        content: "";
        display: table;
        clear: both;
    }

    .ct-major-second > svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

.ct-minor-third {
    display: block;
    position: relative;
    width: 100%;
}

    .ct-minor-third:before {
        display: block;
        float: left;
        content: "";
        width: 0;
        height: 0;
        padding-bottom: 83.3333333333%;
    }

    .ct-minor-third:after {
        content: "";
        display: table;
        clear: both;
    }

    .ct-minor-third > svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

.ct-major-third {
    display: block;
    position: relative;
    width: 100%;
}

    .ct-major-third:before {
        display: block;
        float: left;
        content: "";
        width: 0;
        height: 0;
        padding-bottom: 80%;
    }

    .ct-major-third:after {
        content: "";
        display: table;
        clear: both;
    }

    .ct-major-third > svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

.ct-perfect-fourth {
    display: block;
    position: relative;
    width: 100%;
}

    .ct-perfect-fourth:before {
        display: block;
        float: left;
        content: "";
        width: 0;
        height: 0;
        padding-bottom: 75%;
    }

    .ct-perfect-fourth:after {
        content: "";
        display: table;
        clear: both;
    }

    .ct-perfect-fourth > svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

.ct-perfect-fifth {
    display: block;
    position: relative;
    width: 100%;
}

    .ct-perfect-fifth:before {
        display: block;
        float: left;
        content: "";
        width: 0;
        height: 0;
        padding-bottom: 66.6666666667%;
    }

    .ct-perfect-fifth:after {
        content: "";
        display: table;
        clear: both;
    }

    .ct-perfect-fifth > svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

.ct-minor-sixth {
    display: block;
    position: relative;
    width: 100%;
}

    .ct-minor-sixth:before {
        display: block;
        float: left;
        content: "";
        width: 0;
        height: 0;
        padding-bottom: 62.5%;
    }

    .ct-minor-sixth:after {
        content: "";
        display: table;
        clear: both;
    }

    .ct-minor-sixth > svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

.ct-golden-section {
    display: block;
    position: relative;
    width: 100%;
}

    .ct-golden-section:before {
        display: block;
        float: left;
        content: "";
        width: 0;
        height: 0;
        padding-bottom: 61.804697157%;
    }

    .ct-golden-section:after {
        content: "";
        display: table;
        clear: both;
    }

    .ct-golden-section > svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

.ct-major-sixth {
    display: block;
    position: relative;
    width: 100%;
}

    .ct-major-sixth:before {
        display: block;
        float: left;
        content: "";
        width: 0;
        height: 0;
        padding-bottom: 60%;
    }

    .ct-major-sixth:after {
        content: "";
        display: table;
        clear: both;
    }

    .ct-major-sixth > svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

.ct-minor-seventh {
    display: block;
    position: relative;
    width: 100%;
}

    .ct-minor-seventh:before {
        display: block;
        float: left;
        content: "";
        width: 0;
        height: 0;
        padding-bottom: 56.25%;
    }

    .ct-minor-seventh:after {
        content: "";
        display: table;
        clear: both;
    }

    .ct-minor-seventh > svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

.ct-major-seventh {
    display: block;
    position: relative;
    width: 100%;
}

.ct-major-seventh:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 53.3333333333%;
}

.ct-major-seventh:after {
    content: "";
    display: table;
    clear: both;
}

.ct-major-seventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.ct-octave {
display: block;
position: relative;
width: 100%;
}

.ct-octave:before {
display: block;
float: left;
content: "";
width: 0;
height: 0;
padding-bottom: 50%;
}

.ct-octave:after {
content: "";
display: table;
clear: both;
}

.ct-octave > svg {
display: block;
position: absolute;
top: 0;
left: 0;
}

.ct-major-tenth {
    display: block;
    position: relative;
    width: 100%;
}

    .ct-major-tenth:before {
        display: block;
        float: left;
        content: "";
        width: 0;
        height: 0;
        padding-bottom: 40%;
    }

    .ct-major-tenth:after {
        content: "";
        display: table;
        clear: both;
    }

    .ct-major-tenth > svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

.ct-major-eleventh {
    display: block;
    position: relative;
    width: 100%;
}

    .ct-major-eleventh:before {
        display: block;
        float: left;
        content: "";
        width: 0;
        height: 0;
        padding-bottom: 37.5%;
    }

    .ct-major-eleventh:after {
        content: "";
        display: table;
        clear: both;
    }

    .ct-major-eleventh > svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

.ct-major-twelfth {
    display: block;
    position: relative;
    width: 100%;
}

    .ct-major-twelfth:before {
        display: block;
        float: left;
        content: "";
        width: 0;
        height: 0;
        padding-bottom: 33.3333333333%;
    }

    .ct-major-twelfth:after {
        content: "";
        display: table;
        clear: both;
    }

    .ct-major-twelfth > svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

.ct-double-octave {
    display: block;
    position: relative;
    width: 100%;
}

.ct-double-octave:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 25%;
}

.ct-double-octave:after {
    content: "";
    display: table;
    clear: both;
}

.ct-double-octave > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}