﻿ .loginoptions {
     display: none !important;
 }

 #mainheader {
     padding-top: 10px;
     padding-bottom: 5px;
 }

 .errortitle {
     font-size: 34px;
     margin: 30px auto 0px auto;
     background-color: black;
     text-align: center;
     font-family: monospace;
     color: white;
     padding: 10px 0px;
     width: 490px;
 }
 .msgmain {
     font-size: 33px;
     color: rgb(101, 186, 103);
     text-shadow: 0px 0px 0px;
 }

 .secondtxt {
     font-size: 17px;
     margin-bottom: 20px;
 }

 .secondtxt div {
     margin-bottom: 10px;
 }

 .thirdtxt2 {
     color: #666;
     font-style: italic;
 }

 .robotbg {
     border-radius: 5px;
     margin: 20px 5px 10px 5px;
     background-color: white;
     padding: 20px 0px;
 }