.flexbox {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.flexbox-content {
    flex: 1;
    z-index: 10;
}

.loginoptions {
    font-size: 36px;
    padding: 0 !important;
    margin: 0 !important;
}

.logoimg {
    margin: 0 !important;
    padding: 0 !important;
    top: 1px;
    z-index: 999;
}

.logoimg img {
    width: 114px !important;
}

.hidden.menu {
    display: none;
}

.button.showlogin {
    margin-top: 30px;
}

.ui.modal > .header:not(.ui) {
    font-size: 1.7rem;
}

.ui.modal > .content {
    font-size: 1.3em;
}

.masthead.segment {
    padding: 1em 0em;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 2em;
    margin-bottom: 0em;
    font-size: 3.5em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

.ui.inverted.menu {
    border: none !important;
}

.ui.accordion .title:not(.ui) {
    font-size: 15px;
}

.ui.vertical.menu .menu .item {
    font-size: 14px;
}

.ui.vertical.menu {
    width: 20rem;
}

#sideMenuSlide {
    overflow: auto;
    opacity: 0.98;
}

.logoutbtn {
    background: none;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
}


#bigtitle {
    font-size: 28px;
    padding: 0px;
    margin: 0px 0px 5px 120px;
    color: white !important;
}

#sideMenu {
    z-index: 5;
}
    
#sideMenu .configure {
    margin: 0;
    padding: 0 !important;
    float: none;
    width: 35px !important;
}

.forgotpw {
    box-shadow: none !important;
    color: #2185d0 !important;
    font-weight: bold;
    margin-top: 5px !important;
}

#logindiv, #firsttimediv, #forgotdiv {
    display: none;
    margin-top: 40px;
    text-align: center;
}

#resetdiv {
    margin-top: 40px;
}

.loginmsg {
    margin-top: 15px;
}

.container .header {
    color: #1b1c1d !important;
}

.text-centered {
    text-align: center;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.easy {
    padding: 10px 0px 27px 125px;
    font-size: 20px;
    font-style: italic;
}

#defaultdiv, #maincontainer {
    max-width: 100% !important;
}

.grandma {
    background-image: url(/images/grandma.jpg);
    background-size: cover;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    z-index: -1;
    position: absolute;
}


a .icon {
    color: default
}

.dontshow {
    display: none;
}

.max500{
    max-width: 500px;
}

.text-left {
    text-align: left !important;
}

.max600{
    max-width: 600px;
}

.regdiv .column, .max450 {
    max-width: 450px;
}

.footer {
    text-align: center;
    width: 100%;
    font-size: 15px;
    color: #017d31;
    padding: 10px 0px;
    border-top: 1px solid #e4e4e4;
}

.footer.segment {
    padding: 5em 0em;
}


.pusher {
    height: 100%;
}

.resetpw {
    color: green;
}


.noresize {
    resize: none !important;
}

.nomargintop {
    margin-top: 0 !important;
}

.leftmargin20 {
    margin-left: 20px;
}

.ui.segment {
    margin-top: 0;
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
}

.floatclear {
    clear: both;
}

.makeinline{
    display: inline !important;
}

.spacedown{
    margin-bottom: 10px;
}

.overflow{
    overflow: auto;
}

.ui.table td {
    padding: 0.5em 0.9em;
}

.ui.table th {
    padding: 0.6em 0.78571429em !important;
}

#printwindow {
    display: none;
}

@media print {
    header, #main, footer{
        display: none;
    }

    #printwindow {
        display: block;
    }

    td.actions, .searchaudit, .printbutton, tfoot {
        display: none !important;
    }

    .ui.table tr {
        background-color: transparent !important;
    }

    .ui.table th {
        border-top: 1px solid #ccc !important;
        border-bottom: 1px solid #ccc !important;
    }

    .ui.table thead th:first-of-type {
        border-left: 1px solid #ccc !important;
    }

    .ui.table thead th:last-of-type {
        border-right: 1px solid #ccc !important;
    }

    .table .arrowdown:after {
        content: '' !important;
    }

}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    .secondary.pointing.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}