﻿.lil-logo {
    margin-right: 10px !important;
    width: 50px !important;
    height: auto !important;
}


#mainheader {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #017d31;
}

.ui.form.error .error.message:not(:empty) {
    margin-bottom: 10px;
}

.item.dashboard {
    border-bottom: 1px solid #737171;
    border-top: 1px solid #737171;
}

#menuloader {
    margin-left: 15px;
}

span.menutitle {
    margin-left: -5px;
}

.bigtitle {
    font-size: 26px;
    padding: 10px 0px 8px 10px !important;
}

#bigtitle i {
    margin-right: 5px;
}

#bigtitle a {
    display: block;
}

.whiteborder {
    border-top: 1px solid #888787 !important;
    border-bottom: 1px solid #888787;
    padding-left: 13px !important;
}

.dashboard {
    font-size: 16px;
    cursor: pointer;
}

.searchable {
    margin-bottom: 0px !important;
}

.noneleft {
    font-size: 18px !important;
    text-align: center !important;
    line-height: 70px;
    background-color: #f5f5f59e !important;
}

#sideMenuSlide .item:hover:not(.bigtitle):not(.whiteborder):not(.accordionwrap) {
    background-color: rgba(200, 200, 200, 0.2);
}

i.inverted.bordered.darkgreen.icon, i.inverted.circular.darkgreen.icon {
    background-color: #178030 !important;
}

i.users.circular.icon {
    padding: 0.5em 1.6em 0.5em 0.5em !important;
}

.greencolor {
    color: #017d31 !important;
}

.green {
    background-color: #19984a !important;
}

.green:hover {
    background-color: #21ba45 !important;
}

.yellowcolor {
    color: #ff9800;
}

.actions {
    text-align: center !important;
    font-size: 12px;
}

.actions span {
    margin-right: 10px;
    cursor: pointer;
}

.ui.vertical.menu .menu .item {
    padding: 0.5em 1em;
    color: #777;
}

.ui.accordion .accordion {
    margin: 0;
}

.tools {
    width: 100%;
    height: 100%;
}

.ui.vertical.inverted {
    height: 100%;
}

.inlineblock {
    display: inline-block !important;
}

.nomsg {
    font-size: 16px !important;
    text-align: center !important;
    padding: 30px 0 !important;
}

.modal s.vertical.menu .item {
    max-height: 300px;
    overflow-y: auto;
}

.seperate {
    height: 10px;
}

i.icon.delete {
    margin: -1em !important;
}

.ui.horizontal.segments {
    margin: 10px;
    background-color: #f4f4f4;
}

.optionselected {
    color: white !important;
    background-color: teal !important;
}

.segmentheader {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.searchbox {
    padding: 2px !important;
}

.spaceleft {
    margin-left: 10px !important;
}

.spacedownm {
    margin-bottom: 10px !important;
}

.spaceright {
    margin-right: 20px !important;
}

.ui.transparentbtn {
    background-color: transparent;
    padding: 5px 0 0 0;
    cursor: default;
    display: none;
}

.button.viewdisabledusers {
    margin-bottom: 20px;
}

.ui.modal > .header .spacebottom {
    padding: 1.0rem 1.5rem;
}

.column.biowide {
    max-width: 785px;
}

.tools .column.wider {
    max-width: 600px;
}

.tools .column.full {
    max-width: initial;
}

.tools .searchform.ui.loading.form:after {
    border-style:  none;
}

.tools .searchform.ui.loading.form:before {
    background: none;
}

.tools .auditsearch .ui.selection.dropdown {
    min-width: 20em;    
}

.teal {
    background-color: #7aaf61 !important;
}

#workspace {
    padding: 2em 2em 3em 22em;
}

.signaturewidth {
    max-width: 240px;
    max-height: 40px;
}

.sectionheader.inactive {
    opacity: 0.5;
}

.chevron.right {
    transform: rotate(0deg);
    transition: transform 0.4s linear;
}

.chevron.right.selected {
    transform: rotate(90deg);
    transition: transform 0.4s linear;
}


.padded {
    padding: 20px;
}

.max700{
    max-width: 700px;
}

.max400 {
    min-width: 300px;
    max-width: 400px !important;
}

.max100 {
    width: 100%;
}

.spacetop {
    margin-top: 40px !important;
}

.spactopsliding {
    margin: 0;
    padding-top: 10px;
}

.spacetop10 {
    margin-top: 10px !important;
}

.spacebottom20 {
    margin-bottom: 20px !important;
}

.action.input.fluid input {
    width: 100% !important;
}

#selectBranch {
    padding: 2.5em 2em 2em 20em;
    display: none;
}

#selectBranch .ui.button {
    background: #efefef none;
}

#selectBranch .search.icon.button {
    min-width: 220px;
}

.redbg {
    background-color: #FFF6F6;
}

.blackbg {
    background-color: #090a0a;
    color: white;
    padding: 5px;
    margin: 15px 0px 0px 0px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.ui.form textarea {
    resize: none;
    height: 80px !important;
    min-height: 80px !important;
}

.ui.divider {
     margin: 0.5rem 0rem;
}

ul.pagination, ul.pagination li {
    margin:0;
    padding:0;
    list-style:none;
}

ul.pagination{
    margin:10px 0;
}

ul.pagination li span {
    background-color: #fff;
    border: 1px solid #ddd;
    position: relative;
    float: left;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 3px;
}

ul.pagination li a {
    background-color: #fff;
    border: 1px solid #ddd;
    position: relative;
    float: left;
    padding: 5px 10px;
    color: #0275d8;
    text-decoration: none;
    cursor:pointer;
    margin-right:3px;
    transition: background-color .3s;
}

ul.pagination li a:focus, ul.pagination li a:hover, ul.pagination li a.active {
    background-color: #eceeef;
    color: #014c8c;
    border-color: #ddd;
}

ul.pagination .disabled {
    display: none;
}

.table .arrowup:after {
    content: '\2191';
    margin-left: 5px;
}

.table .arrowdown:after {
    content: '\2193';
    margin-left: 5px;
}

th.orderby {
    cursor: pointer !important;
}

th.orderby:hover {
    color: #2185D0 !important;
}

.numberperpage {
    width: 130px;
    min-width: 0px !important;
}

.highertable {
    margin-bottom: 0 !important;
    border-bottom: none !important;
    border-radius: 4px 4px 0px 0px !important;
}

.lowertable {
    border-radius: 0px 0px 5px 5px !important;
    margin-top: 0 !important;
    border-top: none !important;
}

.editfloat {
    margin-top: -3px;
    margin-bottom: 3px;
}

.testdata {
    position: absolute !important;
    right: 10px;
    top: 150px;
}

.smile {
    color: green;
    font-size: 16px;
    padding: 0 !important;
    margin: 0 !important;
}

.frown {
    color: red;
    font-size: 16px;
    padding: 0 !important;
    margin: 0 !important;
}

.ui.definition.table tr td:first-child:not(.ignored) {
    background: rgba(0, 0, 0, 0.08) !important;
}

.item.addaction, .item.removeaction {
    background-color: #f4f4f4 !important;
    padding-bottom: 2px !important;
}

#manageSubclasses .addaction, #manageSubclasses .removeaction {
    padding-top: 0 !important;
    margin-top: -5px !important;
}

.menu.selectable {
    background-color: white;
}

.viewtables.selected {
    background-color: rgba(200,200,200,0.3)
}

.rowheader {
    background-color: #f4f4f4;
}

.topmargin5 {
    margin-top: 5px !important;
    display: none;
}

.tablehead {
    cursor: pointer;
}

#viewTableDetails h3 {
    margin-bottom: 5px;
    padding-left: 5px;
}

#searchByString {
    font-weight: bold;
    padding-left: 5px;
}

.nosig {
    height: 81px;
    margin: 0px auto;
    line-height: 81px;
    color: red;
    text-align: center;
}

.noface {
    height: 320px;
    line-height: 320px;
    margin: 0px auto;
    color: red;
    text-align: center;
}

.table .arrowup:after {
    content: '\2191';
    margin-left: 5px;
}

.table .arrowdown:after {
    content: '\2193';
    margin-left: 5px;
}

th.orderby {
    cursor: pointer !important;
}

th.orderby:hover {
    color: #2185D0 !important;
}

.totalrows {
    margin: 10px 0px 10px 0px;
}

.titlespace {
    margin: 10px 0px 0px 5px !important;
}

.two.fields.nolabel {
    margin-bottom: 0 !important;
}

.width600 {
    width: 600px;
}

.ui.definition.table thead:not(.full-width) th:first-child {
    pointer-events: auto;
    background: #F9FAFB;
    font-weight: bold;
    color: initial;
    box-shadow: none;
}

.selectclass a.item {
    display: block;
    padding: 7px 10px;
    font-size: 16px;
    cursor: pointer;
    color: #666;
}

.selectclass a.item:hover :not(.active) {
    color: teal;
}

a.active.item {
    background-color: teal;
    color: white;
}

.selectclass {
    padding: 7px 0px;
}

.nopadding {
    padding: 0 !important;
}

.nomargin {
    margin: 0 !important;
}

.borderless {
    border: none !important;
    margin-top: -10px;
}

#manageSubclasses .column {
    max-width: initial;
}

.grid .ui.vertical.menu {
    width: 100%;
}

.nospacetop {
    margin-top: 0 !important;
}

i.mobile.large.icon {
    margin: 0px 5px 0px -10px !important;
}

.remote input {
    width: 100% !important;
}

.width270 {
    width: 270px;
}

.headericon {
    margin: 0px 8px 0px -3px;
}

.headericondiv {
    margin: 0px 8px 0px 0px;
}

.ui.accordion .title:not(.ui) {
     padding: 0.6em 0em !important;
}
    
#sideMenu .item.accordionwrap {
    border-bottom: 1px solid #383838;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#sideMenuSlide > .sectionheader {
    margin-top: 20px !important;
}

#sideMenuSlide > .sectionheader ~ .sectionheader {
    margin-top: 0 !important;
}

#sideMenuSlide .item.accordionwrap:not(#umwrap) {
    
}

.sectionheader {
    background-color: #017d31 !important;
}

.sectionheader:not(.selected) {
    cursor: pointer;
}

.roundsearchbox{
    width: 250px;
}

.marginbottom5{
    margin-bottom: 5px;
}

.sign.out {
    font-size: 25px;
}

.white {
    color: white;
}

.sign.out:hover {
    color: #999;
}

.edititem {
    opacity: 0.3;
    cursor: pointer;
    height: 20px;
    width: 15px;
}

.edititem:hover {
    opacity: 1;
    color: #017d31
}

@media print {
    body {
        zoom: 85%;    
    }

   .notprintable, footer {
       display: none !important;
   }

    .ui.table td {
        padding: 0.5em 0.78571429em !important;
    }

    .face {
        height: 240px;
    }

    #workspace {
        padding: 0;
    }

    .signaturewidth {
        width: auto;
        height: 40px;
    }

    img.max100 {
        height: 200px;
        width: auto;
    }
}